**[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [1]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.grouping_and_sorting import *
print("Setup complete.")

Setup complete.

# Tutorial

## Groupwise analysis
One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts() does by doing the following:

In [4]:
reviews.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

groupby() created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the points() column and counted how many times it appeared. value_counts() is just a shortcut to this groupby() operation.

We can use any of the <code>summary functions</code> we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

<code>.value_counts()</code> is just a shortcut to this <code>.groupby()</code>operation

*Queestion. How can I get cheapest wine in each point value category?*<br>
20.05.30.sat

In [10]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

**How can I do this??**

How can I get the cheapest wine in each point value category?

In [21]:
# print cheapest wine in each point value category

reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match.<br>

The DataFrame is accessible to us directly using the <code>apply()</code> mehtod, and we can then manipulate the data in any way we see fit.

Fore example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset

*How can we do that?*

In [22]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [24]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [25]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

*Q1. 국가, 지역별 가장 높은 point를 얻은 와인 뽑아내기*<br>
일상속에서 많이 접할 수 있는 문제인 것 같다

In [27]:
reviews.groupby(['country', 'province']).points.max()

country    province
Argentina  Mendoza Province    97
           Other               95
Armenia    Armenia             88
Australia  Australia Other     93
           New South Wales     94
                               ..
Uruguay    Juanico             90
           Montevideo          91
           Progreso            90
           San Jose            87
           Uruguay             91
Name: points, Length: 425, dtype: int64

In [29]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

For more fine-grained control, we can also group by more than one column

In [38]:
reviews.points.sort_values(ascending=False)[0]

87

<code>pandas.DataFrame.idxmax</code><br>
요청한 axis에서 가장 큰 값이 처음으로 발생하는 index 반환(예제를 통해 확인)

In [39]:
reviews.points.idxmax()

345

### Group by 연습!!(Practice!)

In [ ]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

In [40]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

**Awesome!** contry, province에서 point가 가장 높은 와인 데이터를 추출했다

Another <code>groupby()</code>mehtod worth mentioning is <code>agg()</code>, which lets you run a bunch of different functions on your DataFrame simultaneously.<br>
For example, we can generate a simple statistical summary of the dataset as follows.

In [43]:
# reviews.groupby(['country']).price.agg([len, min, max])

In [46]:
reviews.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                3800.0   4.0   230.0
Armenia                     2.0  14.0    15.0
Australia                2329.0   5.0   850.0
Austria                  3345.0   7.0  1100.0
Bosnia and Herzegovina      2.0  12.0    13.0
Brazil                     52.0  10.0    60.0
Bulgaria                  141.0   8.0   100.0
Canada                    257.0  12.0   120.0
Chile                    4472.0   5.0   400.0
China                       1.0  18.0    18.0
Croatia                    73.0  12.0    65.0
Cyprus                     11.0  11.0    21.0
Czech Republic             12.0  15.0    45.0
Egypt                       1.0   NaN     NaN
England                    74.0  25.0    95.0
France                  22093.0   5.0  3300.0
Georgia                    86.0   9.0    40.0
Germany                  2165.0   5.0   775.0
Greece                    466.0   8.0    79.0
Hungary                   146.0  10.0   764.0
India                       9.0  10.0    20.0
Israel                    505.0   8.0   150.0
Italy                   19540.0   5.0   900.0
Lebanon                    35.0  13.0    75.0
Luxembourg                  6.0  16.0    30.0
Macedonia                  12.0  15.0    20.0
Mexico                     70.0   8.0   108.0
Moldova                    59.0   8.0    42.0
Morocco                    28.0  14.0    40.0
New Zealand              1419.0   7.0   130.0
Peru                       16.0  10.0    68.0
Portugal                 5691.0   5.0  1000.0
Romania                   120.0   4.0   320.0
Serbia                     12.0  15.0    42.0
Slovakia                    1.0  16.0    16.0
Slovenia                   87.0   7.0    90.0
South Africa             1401.0   5.0   330.0
Spain                    6645.0   4.0   770.0
Switzerland                 7.0  21.0   160.0
Turkey                     90.0  14.0   120.0
US                      54504.0   4.0  2013.0
Ukraine                    14.0   6.0    13.0
Uruguay                   109.0  10.0   130.0

In [47]:
reviews.groupby('country').points.agg(['mean', 'std', max, min])

                             mean       std  max  min
country
Argentina               86.710263  3.179627   97   80
Armenia                 87.500000  0.707107   88   87
Australia               88.580507  2.989900  100   80
Austria                 90.101345  2.499799   98   82
Bosnia and Herzegovina  86.500000  2.121320   88   85
Brazil                  84.673077  2.340782   89   80
Bulgaria                87.936170  2.077817   91   80
Canada                  89.369650  2.384752   94   82
Chile                   86.493515  2.692959   95   80
China                   89.000000       NaN   89   89
Croatia                 87.219178  2.399344   91   81
Cyprus                  87.181818  1.601136   89   85
Czech Republic          87.250000  1.712255   89   84
Egypt                   84.000000       NaN   84   84
England                 91.581081  1.843216   95   89
France                  88.845109  3.044423  100   80
Georgia                 87.686047  2.087845   92   82
Germany                 89.851732  2.469351   98   81
Greece                  87.283262  2.185293   93   82
Hungary                 89.191781  2.686659   97   81
India                   90.222222  1.715938   93   87
Israel                  88.471287  2.478412   94   80
Italy                   88.562231  2.649756  100   80
Lebanon                 87.685714  2.784109   91   82
Luxembourg              88.666667  0.816497   90   88
Macedonia               86.833333  1.749459   89   84
Mexico                  85.257143  2.722348   92   80
Moldova                 87.203390  2.419601   91   82
Morocco                 88.571429  1.687175   93   85
New Zealand             88.303030  2.435008   95   80
Peru                    83.562500  1.860779   86   80
Portugal                88.250220  2.996122  100   80
Romania                 86.400000  1.716945   92   82
Serbia                  87.500000  1.314257   89   86
Slovakia                87.000000       NaN   87   87
Slovenia                88.068966  1.730661   92   82
South Africa            88.056388  2.435826   95   82
Spain                   87.288337  3.066284   98   80
Switzerland             88.571429  2.507133   90   83
Turkey                  88.088889  1.975379   92   84
US                      88.563720  3.114840  100   80
Ukraine                 84.071429  1.591530   88   82
Uruguay                 86.752294  2.687957   92   80

In [48]:
reviews.groupby('country').points.agg(['mean', max, min]).idxmax()

mean      England
max     Australia
min         China
dtype: object

In [49]:
reviews.groupby('country').points.agg(['mean', 'std'])

                             mean       std
country
Argentina               86.710263  3.179627
Armenia                 87.500000  0.707107
Australia               88.580507  2.989900
Austria                 90.101345  2.499799
Bosnia and Herzegovina  86.500000  2.121320
Brazil                  84.673077  2.340782
Bulgaria                87.936170  2.077817
Canada                  89.369650  2.384752
Chile                   86.493515  2.692959
China                   89.000000       NaN
Croatia                 87.219178  2.399344
Cyprus                  87.181818  1.601136
Czech Republic          87.250000  1.712255
Egypt                   84.000000       NaN
England                 91.581081  1.843216
France                  88.845109  3.044423
Georgia                 87.686047  2.087845
Germany                 89.851732  2.469351
Greece                  87.283262  2.185293
Hungary                 89.191781  2.686659
India                   90.222222  1.715938
Israel                  88.471287  2.478412
Italy                   88.562231  2.649756
Lebanon                 87.685714  2.784109
Luxembourg              88.666667  0.816497
Macedonia               86.833333  1.749459
Mexico                  85.257143  2.722348
Moldova                 87.203390  2.419601
Morocco                 88.571429  1.687175
New Zealand             88.303030  2.435008
Peru                    83.562500  1.860779
Portugal                88.250220  2.996122
Romania                 86.400000  1.716945
Serbia                  87.500000  1.314257
Slovakia                87.000000       NaN
Slovenia                88.068966  1.730661
South Africa            88.056388  2.435826
Spain                   87.288337  3.066284
Switzerland             88.571429  2.507133
Turkey                  88.088889  1.975379
US                      88.563720  3.114840
Ukraine                 84.071429  1.591530
Uruguay                 86.752294  2.687957

In [50]:
reviews.groupby('country').points.agg(['mean', 'std'])['mean'].idxmax()

'England'

In [51]:
high_point_country = reviews.groupby('country').points.agg(['mean', 'std'])
# high_point_country
high_point_country['mean std'] = 0
high_point_country['mean std'] = high_point_country['mean'] - high_point_country['std']
high_point_country['mean std'].idxmax()

'England'

In [57]:
high_point_country.sort_values(by=['mean std'], ascending=False)[:10]

                 mean       std   mean std
country
England     91.581081  1.843216  89.737865
India       90.222222  1.715938  88.506284
Luxembourg  88.666667  0.816497  87.850170
Austria     90.101345  2.499799  87.601546
Germany     89.851732  2.469351  87.382382
Canada      89.369650  2.384752  86.984897
Morocco     88.571429  1.687175  86.884253
Armenia     87.500000  0.707107  86.792893
Hungary     89.191781  2.686659  86.505121
Slovenia    88.068966  1.730661  86.338304

In [59]:
high_point_country.sort_values(by=['mean'], ascending=False)[:10]

                 mean       std   mean std
country
England     91.581081  1.843216  89.737865
India       90.222222  1.715938  88.506284
Austria     90.101345  2.499799  87.601546
Germany     89.851732  2.469351  87.382382
Canada      89.369650  2.384752  86.984897
Hungary     89.191781  2.686659  86.505121
China       89.000000       NaN        NaN
France      88.845109  3.044423  85.800686
Luxembourg  88.666667  0.816497  87.850170
Australia   88.580507  2.989900  85.590607

China...lol...

## Multi-indexes

In [60]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [61]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In general the multi-index method you'll use most often is the one for converting back to a regular index<br>

<code>reset_index()</code>

In [62]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

## Sorting

To get data in the order want in, we can sort it ourselves<br>

the <code>sort_values()</code> mehtod is handy for this.

In [63]:
countries_reviewed = countries_reviewed.reset_index() # .reset_index()
countries_reviewed.sort_values(by='len')

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

<code>sort_values()</code> defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first. That goes thusly

In [64]:
countries_reviewed.sort_values(by='len', ascending=False)

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

To sort by index values, use the companion method <code>sort_index()</code>. <br>
This method has the same arguments and default order:

In [65]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [66]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [70]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [69]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [73]:
reviews.groupby('taster_twitter_handle').description.count()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: description, dtype: int64

In [74]:
reviews_written = reviews.groupby('taster_twitter_handle').description.count()
q1.check()

Correct:


```python
reviews_written = reviews.groupby('taster_twitter_handle').size()
```
or
```python
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
```

이정도의 문제가 출제되지 않을까...

In [ ]:
reviews.head()

In [ ]:
reviews_written = reviews.groupby('taster_twitter_handle').points.count()
# reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

q1.check()

In [ ]:
# q1.hint()
# q1.solution()

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [75]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [86]:
best_rating_per_price = reviews.groupby('price')['points'].max()
best_rating_per_price

q2.check()

Correct

In [95]:
reviews.groupby('price').points.max().sort_index(ascending=True)

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [116]:
best_rating_per_price = reviews.groupby('price').points.agg(['max', 'min', 'mean', 'std'])
best_rating_per_price

        max  min       mean       std
price
4.0      86   82  84.272727  1.190874
5.0      87   80  83.586957  1.694122
6.0      88   80  84.341667  1.727172
7.0      91   80  84.450346  1.845404
8.0      91   80  84.628924  1.904621
...     ...  ...        ...       ...
1900.0   98   98  98.000000       NaN
2000.0   97   96  96.500000  0.707107
2013.0   91   91  91.000000       NaN
2500.0   96   96  96.000000  0.000000
3300.0   88   88  88.000000       NaN

[390 rows x 4 columns]

In [115]:
type(best_rating_per_price)

pandas.core.frame.DataFrame

In [118]:
best_rating_per_price['mean-std'] = best_rating_per_price['mean'] - best_rating_per_price['std']
best_rating_per_price

        max  min       mean       std   mean-std
price
4.0      86   82  84.272727  1.190874  83.081853
5.0      87   80  83.586957  1.694122  81.892835
6.0      88   80  84.341667  1.727172  82.614495
7.0      91   80  84.450346  1.845404  82.604943
8.0      91   80  84.628924  1.904621  82.724303
...     ...  ...        ...       ...        ...
1900.0   98   98  98.000000       NaN        NaN
2000.0   97   96  96.500000  0.707107  95.792893
2013.0   91   91  91.000000       NaN        NaN
2500.0   96   96  96.000000  0.000000  96.000000
3300.0   88   88  88.000000       NaN        NaN

[390 rows x 5 columns]

In [123]:
best_rating_per_price.sort_values(by='mean-std', ascending=False)

        max  min        mean       std    mean-std
price
1500.0  100  100  100.000000  0.000000  100.000000
595.0    99   96   97.666667  1.527525   96.139141
2500.0   96   96   96.000000  0.000000   96.000000
315.0    96   96   96.000000  0.000000   96.000000
2000.0   97   96   96.500000  0.707107   95.792893
...     ...  ...         ...       ...         ...
1200.0   96   96   96.000000       NaN         NaN
1300.0   96   96   96.000000       NaN         NaN
1900.0   98   98   98.000000       NaN         NaN
2013.0   91   91   91.000000       NaN         NaN
3300.0   88   88   88.000000       NaN         NaN

[390 rows x 5 columns]

In [129]:
best_rating_price = best_rating_per_price.sort_values(by='mean-std', ascending=False).reset_index()

In [132]:
best_rating_price.loc[best_rating_price.price < 100][:10]

     price  max  min       mean       std   mean-std
121   71.0   95   89  91.750000  1.517442  90.232558
125   96.0   97   86  92.567568  2.409939  90.157628
128   99.0   96   85  92.154762  2.050531  90.104231
129   91.0   94   88  92.000000  1.943651  90.056349
132   82.0   97   86  92.480000  2.445956  90.034044
137   94.0   99   86  92.484848  2.635351  89.849497
139   92.0   98   85  92.114754  2.324495  89.790259
151   98.0   97   87  91.895833  2.326897  89.568936
152   66.0   97   86  91.635593  2.074119  89.561474
153   86.0   98   87  91.888889  2.327916  89.560973

In [133]:
reviews.groupby('price').points.max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [134]:
# best_rating_per_price = 
# best_rating_per_price = reviews.groupby('price').points.agg([max], ascending=False)
best_rating_per_price = reviews.groupby('price').points.max()
# Check your answer
q2.check()

Correct

In [135]:
# q2.hint()
# q2.solution()

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [137]:
price_extremes = reviews.groupby('variety').price.agg([min, max])

q3.check()

Correct

In [ ]:
price_extremes = reviews.groupby('variety').price.agg([min, max])
# Check your answer
q3.check()

In [ ]:
price_extremes

In [ ]:
# q3.hint()
# q3.solution()

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [141]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
sorted_varieties

q4.check()

Correct

In [ ]:
# sorted_varieties = reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)

# Check your answer
q4.check()

In [145]:
# q4.hint()
# q4.solution()

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [148]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()

q5.check()

Correct

In [ ]:
reviews.columns

In [ ]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()

# Check your answer
q5.check()

In [ ]:
#q5.hint()
# q5.solution()

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [ ]:
reviewer_mean_ratings.describe()

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [150]:
reviews.variety.head()

0       White Blend
1    Portuguese Red
2        Pinot Gris
3          Riesling
4        Pinot Noir
Name: variety, dtype: object

In [152]:
country_variety_counts = reviews.groupby(['country', 'variety']).country.count().sort_values(ascending=False)

q6.check()

Correct

In [155]:
# q6.hint()
# q6.solution()

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).

---
**[Pandas Home Page](https://www.kaggle.com/learn/pandas)**





*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum) to chat with other Learners.*